@font-face {
    font-family: "Hanken Grotesk";
    font-weight: 500;
    src: url(./fonts/HankenGrotesk-Medium.woff2) format("woff2"), url(./fonts/HankenGrotesk-Medium.woff) format("woff");
}

@font-face {
    font-family: "Hanken Grotesk";
    font-weight: 700;
    src: url(./fonts/HankenGrotesk-Bold.woff2) format("woff2"), url(./fonts/HankenGrotesk-Bold.woff) format("woff");
}

@font-face {
    font-family: "Hanken Grotesk";
    font-weight: 800;
    src: url(./fonts/HankenGrotesk-ExtraBold.woff2) format("woff2"), url(./fonts/HankenGrotesk-ExtraBold.woff) format("woff");
}

:root {

    /* ==  COLORS == */
    /* BRAND COLORS */
    --clr-brand-dark: hsl(224, 30%, 27%);
    --clr-brand-light: hsl(241 100% 89%);

    /* NEUTRAL COLORS */
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(221, 100%, 96%);

    /* GRADIENTS */
    --clr-gradient-light: linear-gradient(180deg, hsl(252 100% 67%), hsl(241 81% 54%));
    --clr-gradient-dark: linear-gradient(180deg, hsl(256 72% 46%), hsla(241 72% 46% / 0));

    /* == TYPOGRAPHY == */
    /* FONT FAMILY */
    --ff-body: "Hanken Grotesk", sans-serif;

    /* FONT SIZE */
    --fs-18: 1.125rem;
}

/* == UTILITY CLASSES == */
.clr-brand {
    color: var(--clr-brand-dark);
}

.clr-white {
    color: var(--clr-neutral-100);
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 800;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* == BEGIN STYLES == */

body {
    font-size: var(--fs-18);
    font-family: var(--ff-body);
    min-height: 100vh;
    color: var(--clr-brand-light);
}

@media screen and (width >=48em) {
    body {
        display: grid;
        place-content: center;
    }

    article {
        display: flex;
        max-width: 39em;
        margin-inline: auto;
        border-radius: 2rem;
        box-shadow: 11px 11px 21px var(--clr-neutral-200);
    }

    .results,
    .summary {
        flex: 1 1 100%;
    }

    .results {
        border-radius: 2rem;
    }

    button:is(:hover, :focus-visible)::before {
        opacity: 1;
    }

    button:focus-visible {
        outline: var(--clr-brand-dark) solid 3px;
        outline-offset: 2px;
    }
}